repos:
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: pytest
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
        args: ["backend/tests"]
